* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
}

.container {
    margin: 80px auto;
    max-width: 460px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.288);
}

#result {
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
}

#error {
    background-color: rgb(128, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
}